{%- assign Fabrics = '' | split: ',' -%}
{%- assign Leathers = '' | split: ',' -%}
{%- assign Metals = '' | split: ',' -%}
{%- assign Stone = '' | split: ',' -%}
{%- assign type = include.type -%}

{%- assign count = 0 -%}

{%- for item in site.data.StoreItems.items -%}
    {%- if item.category == "Textiles" -%}
        {%- assign Fabrics = Fabrics | push: item | sort: "abr" -%}
        {%- continue -%}
    {%- endif -%}
    
    {%- if item.category == "Wools" -%}
        {%- assign Fabrics = Fabrics | push: item | sort: "abr" -%}
        {%- continue -%}
    {%- endif -%}
    
    {%- if item.category == "Leathers" -%}
        {%- assign Leathers = Leathers | push: item | sort: "abr" -%}
        {%- continue -%}
    {%- endif -%}
    
    {%- if item.category == "Stone blocks" -%}
        {%- assign Stone = Stone | push: item | sort: "abr" -%}
        {%- continue -%}
    {%- endif -%}
    
    {%- if item.category == "Raw resources" -%}
        {%- if item.abr == "wood" -%}
          {%- continue -%}
        {%- elsif item.abr == "jade" -%}
          {%- assign Stone = Stone | push: item | sort: "abr" -%}
          {%- continue -%}
        {% else %}
          {%- assign Metals = Metals | push: item | sort: "abr" -%}
          {%- continue -%}
        {%- endif -%}
    {%- endif -%}
{%- endfor -%}

{% comment %}
Fabric = Fabrics (Textiles + Wools)
Leathery = Leathers
Stony = Stone (+ Jade)
Metallic = Metals (Raw resources)
Woody = Wood
{% endcomment %}

<div class="box">
  <div class="drops">
    <select id="select_apparel" style="width: 100%">
      <option></option>
        {%- for item in include.displayData -%}
          {%- if type == "Apparel" -%}
            <option category="{{- item.ingredients -}}" value="{{- item.abr -}}">{{- item.abr | capitalize -}}</option>
            {%- continue -%}
          {%- endif -%}
        {%- endfor -%}
    </select>
  </div>
  <div class="drops">
    <select id="select_material" style="width: 100%">
      <option></option>
        {%- for item in Fabrics -%}
          <option category="Fabric" value="{{- item.abr -}}">{{- item.abr | capitalize -}}</option>
          {%- continue -%}
        {%- endfor -%}
        {%- for item in Leathers -%}
          <option category="Leathery" value="{{- item.abr -}}">{{- item.abr | capitalize -}}</option>
          {%- continue -%}
        {%- endfor -%}
        {%- for item in Stone -%}
          <option category="Stony" value="{{- item.abr -}}">{{- item.abr | capitalize -}}</option>
          {%- continue -%}
        {%- endfor -%}
        {%- for item in Metals -%}
          <option category="Metallic" value="{{- item.abr -}}">{{- item.abr | capitalize -}}</option>
          {%- continue -%}
        {%- endfor -%}
          <option category="Woody" value="wood">Wood</option>
    </select>
  </div>
  <div class="drops">
    <select id="select_quality" style="width: 100%">
      <option></option>
      <option value="awful">Awful</option>
      <option value="poor">Poor</option>
      <option value="normal">Normal</option>
      <option value="good">Good</option>
      <option value="excellent">Excellent</option>
      <option value="masterwork">Masterwork</option>
      <option value="legendary">Legendary</option>
    </select>
  </div>
  <div class="copy">
    <input type="textbox" value="" class= "inoutput" id="output" style="width: 350px"/> 
  </div>
  <div class="copy">
    <button onclick="copyOutput()">COPY TO CLIPBOARD</button>
  </div>
</div>


<script>
  $(document).ready(function () {
    //change selectboxes to selectize mode to be searchable
    $("select").select2();
  })
       
  $("#select_apparel").select2({
    placeholder: "Apparel",
    allowClear: true
  });
  
  $("#select_material").select2({
    placeholder: "Material",
    allowClear: true
  });
  
  $("#select_quality").select2({
    placeholder: "Quality",
    allowClear: true
  });
  
  document.getElementById("#select_apparel").addEventListener("change", function() {
     const categoryId = $(this).find(':selected').attr('category');
     $('#select_material option').hide();      
     $('#select_material').val("");
     $('#select_material option[category=' + categoryId + ']').show();
  })
  
  function showCommand() {
    var part1 = document.getElementById('select_apparel').value;
    var part2 = document.getElementById('select_material').value;
    var part3 = document.getElementById('select_quality').value;
    result = "$wear " + part1.concat("[", part2, ",", part3, "]");
    document.getElementById('output').value = result;
  };
  
  function copyOutput() {
    var copyText = document.getElementById("output");
    copyText.select();
    copyText.setSelectionRange(0, 99999);
    navigator.clipboard.writeText(copyText.value);
  };
</script>
