{%- assign Fabrics = site.data.StoreItems.items | where: "category", "Textiles" | sort: "abr" -%}
{%- assign Leathers = site.data.StoreItems.items | where: "item", "item.category == 'Leathers'" | sort: "price" -%}
{%- assign Metals = site.data.StoreItems.items | where: "item", "item.category == 'Raw resources' or item.abr == 'jade'" | sort: "price" -%}
{%- assign Stone = site.data.StoreItems.items | where: "item", "item.category == 'Stone blocks'" | sort: "price" -%}
{%- assign type = include.type -%}
{%- assign category = item.category -%}
{%- assign count = 0 -%}

{%- for item in site.data.StoreItems.items -%}
    {%- if category == "Textiles" -%}
        {%- assign Fabrics = Fabrics | push: item | sort: "price" -%}
        {%- continue -%}
    {%- endif -%}
    
    {%- if category == "Wools" -%}
        {%- assign Fabrics = Fabrics | push: item | sort: "price" -%}
        {%- continue -%}
    {%- endif -%}
    
    {%- if category == "Leathers" -%}
        {%- assign Leathers = Leathers | push: item | sort: "price" -%}
        {%- continue -%}
    {%- endif -%}
    
    {%- if category == "Stone blocks" -%}
        {%- assign Stone = Stone | push: item | sort: "price" -%}
        {%- continue -%}
    {%- endif -%}
    
    {%- if category == "Raw resources" -%}
        {%- if item.abr == "wood" -%}
          {%- continue -%}
        {%- elsif item.abr == "jade" -%}
          {%- assign Stone = Stone | push: item | sort: "price" -%}
          {%- continue -%}
        {% else %}
          {%- assign Metals = Metals | push: item | sort: "price" -%}
          {%- continue -%}
        {%- endif -%}
    {%- endif -%}
{%- endfor -%}

Fabrics:
<pre>{{- Fabrics | inspect -}}</pre>
Leathers:
<pre>{{- Leathers | inspect -}}</pre>
Metals:
<pre>{{- Metals | inspect -}}</pre>
Stone:
<pre>{{- Stone | inspect -}}</pre>

<div class="box">
  <div class="drops">
    <select id="select_apparel" style="width: 100%" onchange="showCommand()">
      <option value=""></option>
        {%- for item in include.displayData -%}
          {%- if type == "Apparel" -%}
            <option value="{{- item.abr -}}">{{- item.abr | capitalize -}}</option>
            {%- continue -%}
          {%- endif -%}
        {%- endfor -%}
    </select>
  </div>
  <div class="drops">
    <select id="select_material" style="width: 100%" onchange="showCommand()">
      <option value=""></option>
        {%- for item in Fabrics -%}
            <option value="{{- item.abr -}}">{{- item.abr | capitalize -}}</option>
            {%- continue -%}
        {%- endfor -%}
    </select>
  </div>
  <div class="drops">
    <select id="select_quality" style="width: 100%" onchange="showCommand()">
      <option value=""></option>
      <option value="awful">Awful</option>
      <option value="poor">Poor</option>
      <option value="normal">Normal</option>
      <option value="good">Good</option>
      <option value="excellent">Excellent</option>
      <option value="masterwork">Masterwork</option>
      <option value="legendary">Legendary</option>
    </select>
  </div>
  <div class="copy">
    <input type="textbox" value="" class= "inoutput" id="output" style="width: 350px"/> 
  </div>
  <div class="copy">
    <button onclick="copyOutput()">COPY TO CLIPBOARD</button>
  </div>
</div>


<script>
  $(document).ready(function () {
  //change selectboxes to selectize mode to be searchable
    $("select").select2();
  });
    
  $("#select_apparel").select2({
    placeholder: "Apparel",
    allowClear: true
  });
  
  $("#select_material").select2({
    placeholder: "Material",
    allowClear: true
  });
  
  $("#select_quality").select2({
    placeholder: "Quality",
    allowClear: true
  });
  
  function showCommand() {
    var part1 = document.getElementById('select_apparel').value;
    var part2 = document.getElementById('select_material').value;
    var part3 = document.getElementById('select_quality').value;
    result = "$wear " + part1.concat("[", part2, ",", part3, "]");
    document.getElementById('output').value = result;
  }
  
  function copyOutput() {
    var copyText = document.getElementById("output");
    copyText.select();
    copyText.setSelectionRange(0, 99999);
    navigator.clipboard.writeText(copyText.value);
  }
   
  $("#select_apparel").change(function() {
    var app = $(this).val();
      {%- for item in include.displayData -%}
        {%- if type == "Apparel" and count == 0 -%}
          {%- assign count = count | plus: 1 -%}
          if (app == "{{- item.abr -}}") {
            {%- assign stuff = item.ingredients | split: ',' | downcase -%}
              {% if stuff contains "fabric" %}
                {%- for item in Fabrics -%}
                  $("#select_material").html("<option value='{{- item.abr -}}'>{{- item.abr -}}</option>");
                  {%- continue -%}
                {%- endfor -%}
              {%- endif -%}
              {% if stuff contains "leathery" %}
                {%- for item in Leathers -%}
                  $("#select_material").html("<option value='{{- item.abr -}}'>{{- item.abr -}}</option>");
                  {%- continue -%}
                {%- endfor -%}
              {%- endif -%}
              {% if stuff contains "metallic" %}
                {%- for item in Metals -%}
                  $("#select_material").html("<option value='{{- item.abr -}}'>{{- item.abr -}}</option>");
                  {%- continue -%}
                {%- endfor -%}
              {%- endif -%}
              {% if stuff contains "stony" %}
                {%- for item in Stone -%}
                  $("#select_material").html("<option value='{{- item.abr -}}'>{{- item.abr -}}</option>");
                  {%- continue -%}
                {%- endfor -%}
              {%- endif -%}
              {% if stuff contains "woody" %}
                $("#select_material").html("<option value='wood'>wood</option>");
              {%- endif -%}
            } 
          {%- continue -%}
        {%- endif -%}
        {%- if type == "Apparel" and count != 0 -%}
          else if (app == "{{- item.abr -}}") {
            {%- assign stuff = item.ingredients | split: ',' | downcase -%}
              {% if stuff contains "fabric" %}
                {%- for item in Fabrics -%}
                  $("#select_material").html("<option value='{{- item.abr -}}'>{{- item.abr -}}</option>");
                  {%- continue -%}
                {%- endfor -%}
              {%- endif -%}
              {% if stuff contains "leathery" %}
                {%- for item in Leathers -%}
                  $("#select_material").html("<option value='{{- item.abr -}}'>{{- item.abr -}}</option>");
                  {%- continue -%}
                {%- endfor -%}
              {%- endif -%}
              {% if stuff contains "metallic" %}
                {%- for item in Metals -%}
                  $("#select_material").html("<option value='{{- item.abr -}}'>{{- item.abr -}}</option>");
                  {%- continue -%}
                {%- endfor -%}
              {%- endif -%}
              {% if stuff contains "stony" %}
                {%- for item in Stone -%}
                  $("#select_material").html("<option value='{{- item.abr -}}'>{{- item.abr -}}</option>");
                  {%- continue -%}
                {%- endfor -%}
              {%- endif -%}
              {% if stuff contains "woody" %}
                $("#select_material").html("<option value='wood'>wood</option>");
              {%- endif -%}
            } 
          {%- continue -%}
        {%- endif -%}
      {%- endfor -%}
  });
</script>
