{%- assign Fabrics = '' | split: ',' -%}
{%- assign Leathers = '' | split: ',' -%}
{%- assign Metals = '' | split: ',' -%}
{%- assign Stone = '' | split: ',' -%}
{%- assign type = include.type -%}

{%- assign count = 0 -%}

{%- for item in site.data.StoreItems.items -%}
    {%- if item.category == "Textiles" -%}
        {%- assign Fabrics = Fabrics | push: item | sort: "abr" -%}
        {%- continue -%}
    {%- endif -%}
    
    {%- if item.category == "Wools" -%}
        {%- assign Fabrics = Fabrics | push: item | sort: "abr" -%}
        {%- continue -%}
    {%- endif -%}
    
    {%- if item.category == "Leathers" -%}
        {%- assign Leathers = Leathers | push: item | sort: "abr" -%}
        {%- continue -%}
    {%- endif -%}
    
    {%- if item.category == "Stone blocks" -%}
        {%- assign Stone = Stone | push: item | sort: "abr" -%}
        {%- continue -%}
    {%- endif -%}
    
    {%- if item.category == "Raw resources" -%}
        {%- if item.abr == "wood" -%}
          {%- continue -%}
        {%- elsif item.abr == "jade" -%}
          {%- assign Stone = Stone | push: item | sort: "abr" -%}
          {%- continue -%}
        {% else %}
          {%- assign Metals = Metals | push: item | sort: "abr" -%}
          {%- continue -%}
        {%- endif -%}
    {%- endif -%}
{%- endfor -%}

{% comment %}
Fabric = Fabrics (Textiles + Wools)
Leathery = Leathers
Stony = Stone (+ Jade)
Metallic = Metals (Raw resources)
Woody = Wood
{% endcomment %}

WORK IN PROGRESS
<div class="box">
  <div class="drops">
    <select id="select_apparel" class="edd" style="width: 100%">
      <option value="" data-placeholder>Apparel</option>
        {%- for item in include.displayData -%}
          {%- if type == "Apparel" -%}
            <option data-cat="{{- item.ingredients -}}" value="{{- item.abr -}}">{{- item.abr | capitalize -}}</option>
            {%- continue -%}
          {%- endif -%}
        {%- endfor -%}
    </select>
  </div>
  <div class="drops">
    <select id="select_material" class="edd" style="width: 100%">
      <option value="" data-placeholder>Material</option>
        {%- for item in Fabrics -%}
          <option data-cat="Fabric" value="{{- item.abr -}}">{{- item.abr | capitalize -}}</option>
          {%- continue -%}
        {%- endfor -%}
        {%- for item in Leathers -%}
          <option data-cat="Leathery" value="{{- item.abr -}}">{{- item.abr | capitalize -}}</option>
          {%- continue -%}
        {%- endfor -%}
        {%- for item in Stone -%}
          <option data-cat="Stony" value="{{- item.abr -}}">{{- item.abr | capitalize -}}</option>
          {%- continue -%}
        {%- endfor -%}
        {%- for item in Metals -%}
          <option data-cat="Metallic" value="{{- item.abr -}}">{{- item.abr | capitalize -}}</option>
          {%- continue -%}
        {%- endfor -%}
          <option data-cat="Woody" value="wood">Wood</option>
    </select>
  </div>
  <div class="drops">
    <select id="select_quality" class="edd" style="width: 100%">
      <option value="" data-placeholder>Quality</option>
      <option value="awful">Awful</option>
      <option value="poor">Poor</option>
      <option value="normal">Normal</option>
      <option value="good">Good</option>
      <option value="excellent">Excellent</option>
      <option value="masterwork">Masterwork</option>
      <option value="legendary">Legendary</option>
    </select>
  </div>
  <div class="copy">
    <input type="textbox" value="" class= "inoutput" id="output" style="width: 350px"/> 
  </div>
  <div class="copy">
    <button onclick="copyOutput()">COPY TO CLIPBOARD</button>
  </div>
</div>

<script>

const selectElement = document.querySelector('.edd');

const edd = easydropdown(selectElement);
  
</script>
