.tab {
  overflow: hidden;
  border: 1px solid #cccccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 12px;
  transition: 0.3s;
  font-size: 0.75em;
}

.tab button:hover {
  background-color: #cccccc;
}

.tabContent {
  display: none;
  animation: fadeEffect 320ms;
  border-top: none;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.search {
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #dddddd;
  margin-bottom: 12px;
}

.inoutput {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: none !important;
  text-align: center;
}

* {
  box-sizing: border-box;
}

input[type="text"] {
  font: 14px/24px 'Roboto', arial, helvetica, sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}

:focus {
  outline: none;
}

.ei-box {
  width: 40%;
  margin: 5px auto;
  position: relative;
}

.ei-out::selection {
  background: #ddd;
}

.ei-out::-moz-selection {
  background: #ddd;
}

.ei-out {
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.ei-out:hover {
    border-bottom-color: #aaa;
}

.ei-out~.focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #45bce7;
  transition: 0.4s;
}

.ei-out:focus~.focus-border {
  width: 100%;
  transition: 0.4s;
  left: 0;
}

.ei-btn {
  border: none;
  background-color: inherit;
  color: #45bce7;
  padding: 8px 14px;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
}

.ei-btn:hover {
  background: #45bce7;
  color: #ddd;
}

.drops {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.copy {
  margin: auto;
  width: 50%;
  padding: 5px;
  text-align: center;
}

.box:after {
  content: "";
  display: table;
  clear: both;
}

table {
  display: table;
}

th {
  font-size: 0.9em;
}

th.priceWithData {
  width: 20%;
}

th.karmaType {
  width: 20%;
}

th.price {
  width: 15%;
}

th.author {
  width: 30%;
}

th.version {
  width: 20%;
}

td.description {
  font-size: 0.8em;
}

span.eventRedirect {
  cursor: pointer;
  text-decoration: underline;
  color: #22527b;
  ;
}

span.metadata {
  font-size: 0.8em;
  padding: 0px;
  font-style: italic;
  color: #5a5454;
}

@media screen and (max-width: break) {
  th.priceWithData {
    font-size: 0.9em;
  }

  th.price {
    font-size: 0.9em;
  }

  td.description {
    font-size: 0.8em;
  }

  span.metadata {
    font-size: 0.8em;
    padding: 0px;
    font-style: italic;
    color: #5a5454;
  }
}

@media screen and (max-width: sm-break) {
  th.priceWithData {
    font-size: 0.85em;
  }

  th.price {
    font-size: 0.85em;
  }

  td.description {
    font-size: 0.8em;
  }

  span.metadata {
    font-size: 0.85em;
    font-style: italic;
    color: #5a5454;
  }
}
